<!-- <div class="home-container">
  <div class="profile-section">
    <img src="images/IMG_0002_1.JPG" alt="Your Photo" class="profile-photo" />
    <div class="profile-details">
      <h1>Hello, I'm Mohammad Thousif</h1>
      <p>With 1.5 years of experience in .NET development, I have contributed to diverse projects, including IDMACS, VCard, and Banking Applications. </p>
      <p>I specialize in building efficient and scalable web applications using .NET technologies and Microsoft SQL Server as a backend service provider. My expertise includes designing dynamic pages, optimizing database queries, and integrating secure APIs to deliver seamless user experiences. I have a proven track record of enhancing application performance, collaborating with cross-functional teams, and implementing innovative solutions to solve complex problems. Passionate about continuous learning, I am committed to leveraging my skills to create impactful and reliable software solutions.</p>
    </div>
  </div>
</div> -->

<div class="home-container">
  <div class="profile-section">
    <img src="images/1686761799825.jpg" alt="Your Photo" class="profile-photo" />
    <div class="profile-details">
      <h1 class="profile-name">Hello, I'm <span>Mohammad Thousif</span>{{name | titleCase}}</h1>
      <p class="profile-summary">
        With 2 years of experience in .NET development, I have contributed to diverse projects, including IDMACS, VCard, and Banking Applications.
      </p>
      <p class="profile-description">
        I specialize in building efficient and scalable web applications using .NET technologies and Microsoft SQL Server as a backend service provider. My expertise includes designing dynamic pages, optimizing database queries, and integrating secure APIs to deliver seamless user experiences. Passionate about continuous learning, I am committed to leveraging my skills to create impactful and reliable software solutions.
      </p>
    </div>
  </div>
</div>